@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
.exercice {
  display: flex;
  width: 100%;
}
.exercice-complete img {
  width: 100%;
  height: 100%;
}
.exercice-complete {
  background: blue;
  width: 50%;
}
.excercice-incomplete {
  background: red;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template: repeat(2, 1fr);
}

#style {
  font-family: "Playwrite ES Deco", cursive;
}

/* Nuevas posiciones */


.grid-one {               /* La 1 es la 4 */
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-two {               /* La 2 es la 1 */
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-three {             /* La 3 es la 2 */
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-four {              /* La 4 es la 3 */
  grid-column: 1/2;
  grid-row: 2/3;
}

/* Solucionado por Cristian Samuel Mantilla (@rissamman) */