*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.56em;
    margin-left: 6.56rem;
}
input[type="search"]{
    width: 400px;
    height: 40px;
    border-radius: 0.31rem;
    border: 0.031rem solid #2222227f;
    background-color: #FAFAFA;
    color: #222222;
    font-size: 0.87em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 0.75rem;
    margin-inline: 0.75rem;
    display: block;

}
.foto_perfil{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0.81rem;
}

main{
    /* min-height: calc(100vh - 75px - 28px); */
    width: 100%;
}
.container {  
    /* background-color: #e62f2f;  
      padding: 40px 110px; */
      display: grid;
      grid-template-columns: 1fr 284px;
      grid-template-rows: 180px 1fr 1fr 1fr 1fr;
      column-gap: 136px;
      margin-inline: 110px;
           /* margin-inline: 56px; */
  }
  
  .history { 
    width: 100%;
    border: 0.5px solid #2222227f;
    background-color: #ffffff;
    height: 100px;
    border-radius: 0.31rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 2.5rem;
    /* margin-right: 136px; */
    /* margin-left: 109px; */
    grid-column: 1/2;
    grid-row: 1/2;
}
  .Post { 
    width: 100%;
    border: 0.031rem solid #2222227f;
    background-color: #ffffff;
    /* margin-right: 136px; */
    /* margin-left: 109px; */
    margin-bottom: 6.87rem;
    border-radius: 0.31rem;
    grid-column: 1/2;
    grid-row: 2/6;
 }
 .nombre_foto_perfil{
    color: #262626;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.93rem;
 }
 .Sugerencias {
    width: 100%;
    /* border: 0.031rem solid #2222227f; */
    background-color: #ffffff;
    border-radius: 0.31rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 3.75rem;
    display: block;
}

 .foto_perfil_history{
    border-radius: 50%;
    width: 60px;
    height: 60px;
 }
 .div_top_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.56rem;
    border-top-left-radius: 0.31rem;
    border-top-right-radius: 0.31rem;
 }
 .div_top_post>div{
    display: flex;
    align-items: center;
 }
 .div_img_post{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.25rem;
    padding-inline: 3.5rem;

 }
.foto_perfil_post{
    width: 488px;
    height: 488px;
}
.div_parrafos_post{
    padding-inline: 3.5rem;
}
.imagen_icono {
    width: 24px;
    height: 24px;
    padding-right: 1rem;
    padding-bottom: 0.62rem;
}
.div_parrafos_post p:nth-child(2){
    font-size: 0.625em;
    font-weight: 600;
    color: #000000;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0.62rem;
}
.div_parrafos_post p:nth-child(3){
    
    font-size: 0.625em;
    font-weight: 600;
    color: #A49B9B;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0.62rem;
}
.div_parrafos_post p:nth-child(4){
    font-size: 0.625em;
    font-weight: 600;
    color: #000000;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0.62rem;
}
.div_parrafos_post p:nth-child(5){
    font-size: 0.625em;
    font-weight: 600;
    color: #000000;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0.62rem;
}
span{
    font-weight: bold;
}
.foto_div_sugerencias{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 0.31rem;
}
.div_sugerencias_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_sugerencias_top>div{
    display: flex;
    align-items: center;
    gap: 13px;
}
.div_parrafo_sugerencias{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}
.div_parrafo_sugerencias p:nth-child(1){
    font-family: 'Inter', sans-serif;
    font-size: 0.62rem;
    font-weight: 500;
    color: #000000;
}
.div_parrafo_sugerencias p:nth-child(2){
    font-family: 'Inter', sans-serif;
    font-size: 0.62rem;
    font-weight: 500;
    color: #808080;
    
}
.boton_cambiar_sugerencias{
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: #1CA0F6;
    list-style: none;
    text-decoration: none;
}
.Sugerencias>p:nth-child(2){
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 0.62rem;
    font-weight: bold;
    margin-top: 2.12rem;
}
  
.p_footer{
    font-family: 'Roboto', sans-serif;
    font-size: 0.62em;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
.div_sugerencias_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.62rem;
}
.div_sugerencias_bottom>div{
    display: flex;
    align-items: center;

}
.foto_seguir{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin-top: 0.62rem; */
    margin-right: 0.25rem;
}
.div_sugerencias_bottom div p{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 0.62rem;
    font-weight: 500;
}
.boton_seguir{
    font-family: 'Inter', sans-serif;
    font-size: 0.62rem;
    font-weight: 500;
    color: #1CA0F6;
    list-style: none;
    text-decoration: none;
}



@media (max-width: 1024px){
    .container{
        column-gap: 50px;
        margin-inline: 40px;
    }
}
@media (max-width: 768px){
    .container{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 150px 1fr 1fr 1fr 1fr;
    }
    .Sugerencias {
        display: none;
    }
}

@media (max-width: 415px){
    input[type="search"]{
        display: none;
    }
    .p_header{
        margin-left: 0.62rem;
    }
    .container {  
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 150px 1fr 1fr 1fr 1fr;
        margin-inline: 1.56rem;
      }
    .Sugerencias {
        display: none;
    }
    .history { 
        margin-top: 1.56rem;
        margin-bottom: 0;
    }
    .history .col-5, .col-6, .col-7{
        display: none;
    }
    .div_img_post{
        padding-block: 1.25rem;
        padding-inline: 1.25rem;
     }
    .post { 
        margin-inline: 1.56rem;
    }
    .foto_perfil_post{
        width: 320px;
        height: 320px;
    }
    .div_parrafos_post{
        padding-inline: 1.56rem;
    }
}
@media (max-width: 361px){
    .container {  
        margin-inline: 0.62rem;
      }
      .post { 
        margin-inline: 0.62rem;
    }
    .history { 
        margin-inline: 0;
    }
    .foto_perfil_post{
        width: 300px;
        height: 300px;
    }


}
